.l-flex {
  display: flex;
}

.l-flex-col {
  flex-direction: column;
}

.l-flex-row {
  flex-direction: row;
}

.l-flex-grow-1 {
  flex-grow: 1;
}

.l-flex-grow-0 {
  flex-grow: 0;
}

.l-flex-shrink-0 {
  flex-shrink: 0;
}

.l-flex-shrink-1 {
  flex-shrink: 1;
}

.l-full-height--vh {
  height: 100vh;
}

.l-full-height--percentage {
  height: 100%;
}